@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #308FAB;
  --primary-dark: #217E9A;
  --primary-light: #429FBA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  font-size: 12px;
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
